
/* ---Common section--- */

* {
    max-width: 1140px;
    margin: 0 auto;
    background: rgb(245, 248, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.grey-letter{
    font-weight: 400;
    color:#8987A1;
}

.display-flex{
    display: flex;
}


/* -----header section---- */


.flower-market-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flower-market-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;

}

.flower-market-list ul a {
    text-decoration: none;
}

.home{
    font-weight: 700;
    color: #252432;
}

.cart-letter{
    font-weight: 400;
    color: #000000;
}

@media screen and (max-width: 576px) {

    .flower-market-nav{
        margin: 16px 13px 16.18px 23px;
        justify-content: center ;
        align-items: center;
        gap: 50px;
    }
    .home, .shop, .about-us{
        display: none; 
    }

    .logo{
        height: 38px;
        width: 63px;
    }

       
}