/* ---Common section--- */

* {
    padding: 0;
    margin: 0;
    background: rgb(245, 248, 255);
}

.container {
    max-width: 1144px;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.grey-letter {
    font-weight: 400;
    color: #8987A1;
}

.display-flex {
    display: flex;
}

.banner-heading-letter {
    color: #E95A08;
}

/* -----header section---- */


.flower-market-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flower-market-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;

}

.flower-market-list ul a {
    text-decoration: none;
}

.home {
    font-weight: 700;
    color: #252432;
}

.cart-letter {
    font-weight: 400;
    color: #000000;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 120px;

}

.banner-heading {
    font-size: 65px;
    font-weight: 700;

}

.banner-pera,
.plant-pera {
    font-weight: 400;
    align-self: stretch;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 576px) {

    * {
        padding: 0;
        margin: 0;
    }

    .flower-market-nav {
        margin: 16px 13px 16.18px 23px;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .home,
    .shop,
    .about-us {
        display: none;
    }

    .logo {
        height: 38px;
        width: 63px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;

    }

    .banner-text {
        max-width: 393px;
        margin: auto;
        margin-top: 28px;
    }

    .banner-heading {
        font-size: 24px;

    }

    .banner-pera {
        font-size: 14px;

    }

    .banner-image {
        width: 393px;
        height: 245px;
    }

    .flower-image {
        width: 100%;
        height: auto;
    }

}

/* PLANT DETAILS */

.plant-details {
    margin-top: 120px;
}

.plant-text {
    text-align: center;
}

.plant-heading,
.latest-deals-heading {
    font-size: 50px;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 10px;
}

.card .plant-card img {
    height: 323px;
    width: 100%;
}

.usd,
.lily {
    font-size: 22px;
}

.lily {
    font-weight: 500;
}

.usd {
    font-weight: 700;
}

.btn {
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600px;
    width: 270px;
    height: 50px;
    padding: 19px 80px;
    align-items: center;

}

.plant-card-text {
    width: 270px;
    text-align: center;

}

@media screen and (max-width: 576px) {
    * {
        padding: 0;
        margin: 0;
    }

    .plant-details {
        margin-top: 100px;
        max-width: 393px;
        margin: auto;

    }

    .plant-text {
        margin-top: 50px;
        text-align: center;
    }

    .plant-heading {
        font-size: 24px;
    }

    .plant-pera {
        margin-top: 16px;
        font-size: 14px;
    }

    .card {
        max-width: 362px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex: 1;
        margin-top: 30px;
        gap: 10px;

    }

    .plant-card {
        display: flex;
        flex-direction: column;
        width: 171px;
        height: 340px;
    }

    .plant-card-text {
        max-width: 100%;
    }

    .btn {
        max-width: 100%;
        height: 50px;
        font-size: ;
        text-align: center;
        padding: 2px;
    }

    .usd,
    .lily {
        font-size: 16px;
    }

    .lily {
        font-weight: 500;
    }

    .usd {
        font-weight: 700;
    }




}

/* flower and plant lover section */

.plants-lover {
    width: 1140px;
    height: 597px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
    margin-top: 211px;

}

.plants-lover-image {
    width: 540px;
    height: 597px;

}

.plants-lover-image img {
    max-width: 100%;
    height: auto;
}

.plants-lover-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}

.plants-lover-text {
    width: 540px;
    height: 521px;
    margin: 38px 0 38px 40px;


}

.plants-lover-pera {
    padding-left: 30px;
}

.plants-lover-li {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    text-align: left;

}

@media screen and (max-width: 576px) {

    .plants-lover {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .plants-lover-image {
        width: 358px;
        height:
            margin: auto;
        margin-left: 18px;

    }

    .plants-lover-image img {
        max-width: 100%;
        height: auto;
    }

    .plants-lover-text {
        width: 361px;
        height: 234px;
        margin: 18px 0;
        gap: 16px;


    }

    .plants-lover-heading {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
    }

    .plants-lover-li {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        text-align: left;

    }

    .plants-lover-text {
        margin-left: 17px;
    }

}

/* latest deal sections */

.latest-deals-text {
    text-align: center;

}


.latest-deals-pera {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.latest-deals {
    display: flex;
}

.container {
    box-sizing: border-box;

}

.card {
    width: 100%;
    height: auto;
    position: relative;
}

.card img {
    width: 100%;

}

.text {
    position: absolute;
    color: black;
    left: 100px;
    bottom: 20px;



}

/* news letter section */

.mother {
    width: 1140px;
    height: 533px;
    position: relative;
}

.mother img {
    width: 100%;
    height: 100%;

}

.child {
    width: 830px;
    height: 141px;
    border: 2px solid transparent;
    background: transparent;
    position: absolute;
    top: 40%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.child p {
    background: transparent;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.child input {
    width: 644px;
    height: 50px;
}

.email-sub {
    display: flex;
    flex-direction: row;
    gap: 0px ;
}

.child button {
    background-color: orangered;
    width: 186px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

@media screen and (max-width: 576px) {

    .mother {
        width: 393px;
        height: 276px;
        position: relative;
    }

    .child {
        width: 830px;
        height: 141px;
        background: transparent;
        position: absolute;
        display: flex;
        top: 30%;
        left: -55%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .child p {
        background: transparent;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    .child input {
        width: 218px;
        height: 50px;
    }

    .email-sub {
        display: flex;
        flex-direction: row;
    }

    .child button {
        background-color: orangered;
        width: 103px;
    }


}

/* footer section */

.footer{
    background-color:;
    width: 1120px;
    height: 248px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}
.footer p{
    color: #6B7280;
}

.list-1, .list-2 li{
    list-style: none;
    color: #6B7280;
    
}

.logo{
    gap: 14px;
}

