
/* ---Common section--- */

* {
    padding: 0;
    margin: 0;
    background: rgb(245, 248, 255);
}

.container{
    max-width: 1144px;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.grey-letter{
    font-weight: 400;
    color:#8987A1;
}

.display-flex{
    display: flex;
}

.banner-heading-letter{
    color: #E95A08;
}

/* -----header section---- */


.flower-market-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flower-market-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;

}

.flower-market-list ul a {
    text-decoration: none;
}

.home{
    font-weight: 700;
    color: #252432;
}

.cart-letter{
    font-weight: 400;
    color: #000000;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 120px;
    
}

.banner-heading{
    font-size: 65px;
    font-weight: 700;

}

.banner-pera{
    font-weight: 400;
    align-self: stretch;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 576px) {

    .flower-market-nav{
        margin: 16px 13px 16.18px 23px;
        justify-content: center ;
        align-items: center;
        gap: 50px;
    }
    .home, .shop, .about-us{
        display: none; 
    }

    .logo{
        height: 38px;
        width: 63px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .banner-text{
        margin-top: 28px;
    }

    .banner-heading{
        font-size: 24px;

    }
    .banner-pera{
        font-size: 14px;
        
    }
    
    .banner-image{
        width: 393px;
        height: 245px;                 
    }

    .flower-image{
        width: 100%;
        height: auto;
    }
       
}

